:root {
    --blue-primary: #004482;
    --blue-hover: #126076;
    --secondary-blue: #001F54;
    --blue-light: #cecdcd8e;
    --color-white: white;
    --color-dark: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
}

/* Header */
header {
    padding: 1.0rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;  
    background-color: var(--color-white);
    border-bottom: var(--secondary-blue) solid 2px;
    box-shadow: 0px 4px 6px rgba(0, 68, 130, 0.2);
    transition: var(--blue-light) 0.9s ease;
}
header.scrolled{
    background-color: var(--color-white);
    border-bottom: none;
    position: fixed;
}
.container {
    margin: 0 auto;
    padding: 0.2rem 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo PENDIENTE*/
.logo img {
    max-width: calc(20px + 10vw);
    min-width: 90px;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-link {
    padding: 0.5rem 1rem;
    line-height: 2.5;
    text-decoration: none;
    color: var(--secondary-blue);
    font-weight: 800;
    font-size: calc(0.5rem + 0.5rem);
}
.nav-link:hover {
    color: var(--blue-primary);
}
#nav-bar, .header-buttons {
    display: none;
}
#nav-bar {
    display: flex !important;
}

/* Botones */
.header-buttons {
    gap: 1rem; 
    display: flex !important;
}
.btn {
    transition: all 0.3s ease;
    padding: 0.6rem 1.0rem;
    border-color: transparent;
    gap: 1.0rem;
    font-weight: 800;
    font-size: 0.9rem;
    color: var(--color-white);
    font-weight: bold;
    background-color: var(--secondary-blue);
    border-radius: 10px;
}
.btn:hover{
    background-color: var(--blue-primary);
    box-shadow: 0px 4px 6px rgba(0, 68, 130, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Sidebar 
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    margin-top: 48px; 
    transition: 0.3s;
    padding-top: 60px;
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--color-white);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    border-top: var(--secondary-blue) solid 1px;
}

.sidebar.active{
    right: 0;
}*/

/*Menú Hamburguesa 
.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: calc(4px - 1px);
    z-index: 1100;
}

.hamburger-menu .bar {
    width: calc(15px + 1vw);
    height: calc(3px + 1px);
    background-color: var(--secondary-blue);
    border-radius: 2px;
}
.bar {
    width: calc(15px + 1vw);
    height: calc(3px + 1px);

    background-color: var(--secondary-blue);
}
*/
/*.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    background: none;
    background-color: var(--color-white);
    color: var(--secondary-blue);
    border: none;
    cursor: pointer;
}

.sidebar .nav-list {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}
.sidebar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-buttons button {
    width: 80%;
    margin: 10px 0;
}*/

/* Hero Section */
.Logo {
    width: 5%;
    height: 10vh;
    max-height: 5px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-content{
    align-items: center;
    z-index: 2;
    text-align: center;
}
.hero {
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    z-index: 1;

    background-image: url('images/imagenRef.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 2;

    color: var(--color-white);
}
.h2-title{
    font-size: clamp(2.8rem, 2.8vw, 3.7rem);
    font-weight: 800;
}
span{
    font-weight: 900;
}
.p-subtitle{
    font-size: clamp(1.8rem, 2.5vw, 2.0rem);
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 52, 100, 0.404);
    z-index: 1;
}
.icon-hero{
    width: 30%;
    height: 25%;
    min-width: 230px;
    min-height: 150px;
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsive */
@media screen and (max-width: 1700px) and (min-width: 320px){
    .hero-content {
        margin: auto 30px;
    }
    .nosotros-content {
        flex-direction: column; 
    }
    .nosotros-image, .nosotros-text {
        width: 100%; 
    }

    #nav-bar, .header-buttons {
        display: none;
    }

    .nav-link:hover {
        color: var(--blue-primary);
    }
    .nosotros-text{
        padding: 0 1rem; 
    }
}

/*NOSOTROS SECCION*/
.nosotros-header{
    margin: 4rem 0;
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    color: var(--secondary-blue);
    gap: 1rem;
}
.section-subtitle{
    font-weight: 600;
}
.section-title{
    font-weight: 800;
}
.p-nosotros-text, .ul-nosotros-text{
    font-size: clamp(11px, 1vw, 24px);
}
.nosotros-content, .nosotros-header{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nosotros-image{
    position: relative;
    width: 100%;
    height: 85vh;
    object-fit: cover;
    margin: 0 20px;
    z-index: 1;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}



.nosotros-content {
    position: relative;
    flex-direction: row; 
    justify-content: space-between; 
    text-align: left; 
    
}
.nosotros-text {
    align-items: center;
  background-color: var(--color-white);
  /*height: 100%;*/
 /* position: absolute;*/
  top: 65%;
  margin: 0 30px 0 30px;
  padding: 0 2rem 0 2.0rem;
  /*padding: clamp(2.5rem, 5vw, 4rem);*/
  z-index: 2;

}
/*.nosotros-text:hover{
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
}*/
.h3-nosotros-text {
    font-size: clamp(1.5rem, 2vw, 2.0rem);
    font-weight: 800;
    color: var(--secondary-blue);
    margin: 15px 0 20px;
}
.p-nosotros-text, .ul-nosotros-text {
    font-size: clamp(1.2rem, 1vw, 1.5rem) ;
    line-height: 1.5;
    font-weight: 600;
    color: var(--color-dark);
}
.ul-nosotros-text{
    margin: 10px 0 10px 2rem; 
}
